html {
	height: 100%;
}
body {
	background-color: #f8f8f8;
	margin: 0;
	font-family: 'Russo One', fantasy;
	height: 100%;
}
.container {
	background-color: #cdcdcd;
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 30px;
	min-height: 96.8%;
	height: auto !important;
}
header {
	background-color: #171a21;
	height: 54px;
	border-bottom: 1px solid grey;
	display: flex;
}
.logo {
	position: relative;
	left: 25px;
	margin: 5px;	
}
.logo a {
	display: inline-block;
	width: 180px;
	height: 50px;
}
.logo img {
	height: 44px;
}
.logo h2 {
	position: absolute;
	color: grey;
	left: 60px;
	top: -10px;
}
.logo:hover h2 {
	color: white;
}
nav {
	display: flex;
	position: relative;
	left: 500px;
}
nav ul {
	list-style-type: none;
	font-size: 17px;
	font-family: 'Russo One', fantasy;
	display: flex;
	align-items: center;
}
nav ul li {
	display: flex;
	margin-right: 15px;
}
nav ul a {
	color: grey;
}
nav ul a:hover {
	color: white;
}
a {
	text-decoration: none;
}
.content {
	padding-left: 30px;
	padding-right: 30px;
}
.h {
	padding-left: 5px;
	font-size: 18px;
	color: black;
	font-weight: 400;
	background-color: #bebebe;
	overflow: hidden;
}
.short_desc {
	width: 950px;
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.detailed_desc {
	width: 940px;
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.system_req_p {
	font-size: 15px;
}
.system_req {
	clear: both;
}
form input {
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 1px solid grey;
}
textarea {
	width: 240px;
	height: 115px;
	font-size: 15px;
	border: 1px solid grey;
}
.catalog img {
	width: 293px;
	outline: 2px solid black;
}
.catalog img:hover {
	outline: 4px solid grey;
}
.catalog .promo p {
	margin-left: 30px;
	text-align: justify;
}
.catalog .promo img {
	width: auto;
}
.img_desc {
	outline: 3px solid black;
	float: left;
	margin: 0px 20px 20px 0px;
}
.img_desc:hover {
	outline: 5px solid grey;
}
input:focus, textarea:focus {
	background-color: #9EDBFF;
	color: white;
}
input:first-child {
	text-transform: capitalize;
}
button {
	font-family: 'Russo One', fantasy;
	color: black;
	background-color: white;
}
button:hover {
	background-color: #99AAFF;
}
button:active {
	background-color: blue;
	margin-top: 2px;
	margin-left: 1px;
}
button p {
	margin: 0;
}
footer {
	position: relative;
	margin: -30px auto 0;
	width: 1000px;
	border-top: 1px solid grey;
	height: 30px;
	background-color: #bebebe;
}
.footer {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.catalog > div {
	margin-bottom: 25px;
	display: flex;
	text-align: center;
}
.catalog > div > a > p {
	margin: 0 auto;
}
.promo div {
	flex-direction: column;
}
.welcome {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: justify;
}
.welcome p {
	width: 400px;
	margin: 0;
}
.welcome img {
	margin-top: 20px;
	width: 500px;
	outline: 2px solid black;
}
.welcome img:hover {
	width: 500px;
	outline: 4px solid grey;
}